button {
    border: none;
    background: black;
    color: white;
    padding: .75em 2em 1em;

    font-family: inherit;
    font-weight: 500;
    font-size: 1em;
}

button:active {
    padding: 1em 2em .75em;
}


.btns {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: .75em;
}

.btns:nth-of-type(2n) {
    flex-direction: row-reverse;
}