@property --evtx-in {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --evty-in {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --evtx-out {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --evty-out {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --cx {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --cy {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --radius {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --radius2 {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --radius-pct {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --opacity-fg {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --scale-fg {
    syntax: "<number>";
    inherits: true;
    initial-value: 2;
}

@property --theta {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --theta2 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}